
.quiz-body {
  background-color: var(--bck);
  color: var(--font);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column; 
}

.quiz-header {
  width: 100%;
  background-color: #d9d9d9;
  padding: 40px;
  color: black;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.quiz-page {
  font-family: 'Arial, sans-serif';
  text-align: center;
  background-color: var(--box);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.maintext-box {
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
  font-size: large;
  text-align: center;
}

.question-container {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.question {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 80%;
  text-align: center; 
}

.clock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid #000;
  border-radius: 50%;
  background-color: #fff;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}

.hour-arm {
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: hsl(258, 90%, 49%);
  top: 50%;
  transform-origin: 100%;
  transition: transform 0.5s ease-in-out;
  transform: rotate(90deg); 
}

.minute-arm {
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #000;
  top: 50%;
  transform-origin: 100%;
  transition: transform 0.5s ease-in-out;
  transform: rotate(90deg); 
}

.hour-arm {
  height: 4px;
}

.minute-arm {
  height: 2px;
}

.time-selectors {
  margin-top: 20px;
  text-align: center; 
}

.time-selectors label {
  margin-right: 10px;
}

.time-selectors input {
  width: 50px;
  text-align: center;
}

.button-container10 {
  display: flex;
  
  margin-top: 20px;
  width: 80%;
}

.start-button,
.submit-button,
.previous-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: large;
}

.start-button:hover,
.submit-button:hover,
.previous-button:hover {
  background-color: #0056b3;
}
