body {
  margin: 0;
  padding: 0;
}

.QuizMain-goHome {
  position: absolute;
  bottom: 1px;
  left: 30px;
}

.container{
  flex: 1;
  background-color: transparent;
  color: #333;
  margin: 25px auto;
  padding: auto;
  border-radius: 12px;
  width: 80%;
  box-sizing: border-box;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
}

.QuizMain {
  text-align: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f4f4f9;
  /* Body 배경색 설정 */
  display: flex;
  flex-direction: column;
}

.QuizMain-header {
  width: 100%;
  background-color: #d9d9d9;
  padding: 40px;
  color: black;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center; 
}

.QuizMain-title {
  margin: 0;
  font-size: 2em;
}

.QuizMain-info {
  position: absolute;
  bottom: 10px;
  right: 30px;
  margin: 0;
  font-size: 1em;
}


.Stage {
  background-color: yellow;
}